@model IEnumerable<EasyGift.Models.Cadeau>

@{
    ViewData["Title"] = "Liste de cadeau";

}


<h1>Ma liste de cadeau </h1>

<p>
    <a asp-action="Create">Ajouter un nouveau cadeau</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dejaAchete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCadeau.nomListe)
            </th>

            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="checkbox" id="achete" name="achete" values="1" onClick="affichageCocher(document.getElementById('achete').checked)"/>
                @Html.DisplayFor(modelItem => item.dejaAchete)
            </td>
            
            <td>
                <img src="~/images/@item.photo"   
                         class="rounded-circle"   
                         height="40" width="40"   
                         asp-append-version="true" /> 
                @Html.DisplayFor(modelItem => item.titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listeCadeau.nomListe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" >Delete</a>
            </td>
        </tr>
}
    </tbody>    
</table>




